<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Новая единица измерения</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form th:method="POST" th:action="@{/units}" th:object="${unit}">
    <label for="name">Введите название единицы измерения: </label>
    <input type="text" th:field="*{measureUnitName}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('measureUnitName')}" th:errors="*{measureUnitName}">Name error</div>
    <br/>
    <input type="submit" value="Создать!">
</form>
</body>
</html>