<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый заказ</title>
</head>
<body>
<form th:method="POST" th:action="@{/orders}" th:object="${order}">
    <label for="date">Выберите дату: </label>
    <input type="date" th:field="*{dateOrder}" id="date">
    <div style="color: red" th:if="${#fields.hasErrors('dateOrder')}" th:errors="*{dateOrder}">Date error</div>
    <br/>
    <label for="teacher">Выберите преподавателя:</label>
    <select th:object="${owner}" th:field="*{teacherId}" id="teacher">
        <option th:each="teacher: ${teachers}" th:value="${teacher.teacherId}"
                th:text="${teacher.teacherName}">
        </option>
    </select>
    <hr>
    <br>
    <br>
<!--        <form th:method="POST" th:action="@{/orders/add}" th:object="${groceryItem}">-->
<!--            <label for="grocery">Выберите продукт:</label>-->
<!--            <select th:object="${product}" th:field="*{id}" id="grocery">-->
<!--                <option th:each="grocery:${groceries}" th:value="${grocery.id}"-->
<!--                        th:text="${grocery.productName} + ' ' + ${grocery.measureUnit.measureUnitName}"></option>-->
<!--            </select>-->
<!--            <label for="quantity">Введите количество</label>-->
<!--            <input type="text" th:field="*{productId}" id="quantity">-->
<!--            <input type="submit" value="Добавить">-->
<!--        </form>-->
<!--    <br>-->
<!--    <br>-->
    <input type="submit" value="Создать!">
</form>
</body>
</html>