<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница заказа</title>
</head>
<body>
<a th:text="${order.getDateOrder()} + ', ' + ${order.getOwner().getTeacherName()}"></a>
<br/>
<div th:if="${!order.getOrdersGroseriesList().isEmpty()}">
    <hr/>
    <h3>Продукты:</h3>
    <div th:each="product: ${order.getOrdersGroseriesList()}">
        <span th:text="${product.getProductName()} + ' ' + ${product.measureUnit.getMeasureUnitName()}"
        >Product</span>
    </div>
</div>
<br/>
<div th:if="${order.getOrdersGroseriesList().isEmpty()}">Этот заказ не содержит ни одного продукта</div>

<hr/>

<form th:method="GET" th:action="@{/order/{id}/edit(id=${order.getOrderId()})}">

    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/order/{id}(id=${order.getOrderId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>