<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Новый заказ</title>
</head>
<body>
<header th:replace="blocks/header :: header"></header>

<form th:method="POST" th:action="@{/cGroceries}" th:object="${cGroceries}">
    <label for="contract">Выберите контракт:</label>
    <select th:object="${contract}" th:field="*{contractId}" id="contract">
        <option th:value="${contract.contractId}" th:text="${contract.contractName}"></option>
    </select>
    <label for="grocery">Выберите продукт:</label>
    <select th:object="${product}" th:field="*{id}" id="grocery">
        <option th:each="grocery:${groceries}" th:value="${grocery.id}"
                th:text="${grocery.productName}"></option>
    </select>
    <label for="unit">Выберите единицу измерения:</label>
    <select th:object="${unit}" th:field="*{measureUnitId}" id="unit">
        <option th:each="un:${units}" th:value="${unit.measureUnitId}"
                th:text="${un.measureUnitName}"></option>
    </select>
    <label for="quantityB">Введите количество бюджет</label>
    <input type="text" th:field="*{quantityBudget}" id="quantityB">
    <div style="color: red" th:if="${#fields.hasErrors('quantityBudget')}" th:errors="*{quantityBudget}">Name error</div>
    <label for="quantityOB">Введите количество внебюджет</label>
    <input type="text" th:field="*{quantityOffBudget}" id="quantityOB">
    <div style="color: red" th:if="${#fields.hasErrors('quantityOffBudget')}" th:errors="*{quantityOffBudget}">Name error</div>
    <label for="price">Введите цену</label>
    <input type="text" th:field="*{price}" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
    <input type="submit" value="Добавить">
</form>
<!--<h3>Текущий заказ:</h3>-->
<!--<table class="table table-bordered table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Название продукта</th>-->
<!--        <th>Количество</th>-->
<!--        <th>Единица измерения</th>-->
<!--        &lt;!&ndash;        <th>Дополнительная информация</th>&ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="item :${fullListItem}">-->
<!--        <td th:text="${item.grocery.productName}"/>-->
<!--        <td th:text="${item.quantity}"/>-->
<!--        <td th:text="${item.grocery.measureUnit.measureUnitName}"/>-->
<!--    </tr>-->
<!--    </tbody>-->

<!--</table>-->

<!--<div th:each="it:${fullListItem}">-->
<!--    <span th:text="${it.grocery.productName} + ' ' + ${it.quantity} + ' '+ ${it.grocery.measureUnit.measureUnitName}"></span>-->
<!--</div>-->

<div>
    <a th:href="@{/contracts/{id}(id=${contract.getContractId()})}">Вернуться к контракту</a>
</div>

</body>
</html>