<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Страница контракта</title>
</head>
<body>
<header th:replace="blocks/header :: header"></header>

<hr>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Номер контракта</th>
        <th>Название продукта</th>
        <th>Единица измерения</th>
        <th>Количество бюджет</th>
        <th>Количество внебюджет</th>
        <th>Цена</th>
        <th>Сумма бюджет</th>
        <th>Сумма внебюджет</th>
<!--        <th>Дополнительная информация</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="cGro:${fullListItem}">
        <td><a href="#" th:href="@{/cGroceries/{id}(id=${cGro.getId()})}" th:text="${cGro.getContract().getContractName()}"/></td>
        <td th:text="${cGro.getProduct().getProductName()}"/>
        <td th:text="${cGro.getMeasureUnit().getMeasureUnitName()}"/>
        <td th:text="${cGro.getQuantityBudget()}"/>
        <td th:text="${cGro.getQuantityOffBudget()}"/>
        <td th:text="${cGro.getPrice()}"/>
        <td th:text="${cGro.getSumBudget()}"/>
        <td th:text="${cGro.getSumOffBudget()}"/>
    </tr>

    </tbody>

</table>

<br/>
<hr/>

<div sec:authorize="hasRole('ROLE_ADMIN')">
<form th:method="GET" th:action="@{/contractsGroceries/{id}/edit(id=${item.getId()})}">
    <input type="submit" value="Редактировать табличную часть">
</form>
</div>
</body>
</html>