<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <title>Страница преподавателя</title>
</head>
<body>
<header th:replace="blocks/header :: header"></header>

<a th:text="${teacher.getTeacherName()} + ', ' + ${teacher.getEmail()}+ ', ' + ${teacher.getPhoneNumber()}"></a>
<br/>
<div th:if="${!teacher.getOrdersList().isEmpty()}">
    <hr/>
    <h3>Заказы:</h3>
    <div th:each="order: ${orders}">
        <a th:href="@{/orders/{id}(id=${order.getOrderId()})}"
              th:text="${order.getDateOrder()}">User</a>
    </div>
</div>
<br/>
<div th:if="${teacher.getOrdersList().isEmpty()}">У преподавателя нет ни одного заказа</div>

<hr/>
<div sec:authorize="hasRole('ROLE_ADMIN')">
<form th:method="GET" th:action="@{/teachers/{id}/edit(id=${teacher.getTeacherId()})}">

    <input type="submit" value="Редактировать преподавателя">
</form>
<form th:method="DELETE" th:action="@{/teachers/{id}(id=${teacher.getTeacherId()})}">
    <input type="submit" value="Удалить преподавателя"/>
</form>
</div>
</body>
</html>