<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый продукт</title>
</head>
<body>
<form th:method="POST" th:action="@{/groceries}" th:object="${product}">
    <label for="name">Введите наименование продукта: </label>
    <input type="text" th:field="*{productName}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Name error</div>
    <br/>
    <label for="unit">Выберите единицу измерения:</label>
    <select th:object="${unit}" th:field="*{measureUnitId}" id="unit">
        <option th:each="unit:${units}" th:value="${unit.getMeasureUnitId()}"
                th:text="${unit.getMeasureUnitName()}"></option>
    </select>
    <input type="submit" value="Создать!">
</form>
</body>
</html>